<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Map App</title>
	<link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="styles/style.css">
</head>
<body>
<!-- Шаблон карты-->
	<script id="template-map" type="text/template">
		<div class="container">
			<div class="new-place">
				<input type="text" placeholder="Введите название места">
				<div class="add fa fa-map-marker fa-fw" aria-hidden="true"></div>
				<div class="open-list fa fa-bars fa-fw" aria-hidden="true"></div>
				<div class="helper hide">Укажите нужное место на карте</div>
			</div>
			<ul class="place-list hide"></ul>
			<div class="map"></div>
		</div>
	</script>
<!-- Шаблон новой заметки-->
	<script id="template-place" type="text/template">
		<li class="place <%= (inFavorite) ? 'in-favorite' : '' %>">
			<div class="buttons" contenteditable="false">
				<div class="favorite button fa fa-fw <%= (inFavorite) ? 'fa-star' : 'fa-star-o' %>" title="Избранное"></div>
				<div class="edit button fa fa-pencil-square-o fa-fw" title="Редактировать"></div>
				<div class="save button fa fa-floppy-o fa-fw" title="Сохранить"></div>
				<div class="delete button fa fa-trash-o fa-fw" title="Удалить"></div>
			</div>
			<p><%= name %></p>
		</li>
	</script>
<!-- Скрипты -->
	<script src="node_modules/lodash/lodash.js"></script>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDm5ycFaQX3D8h0JzMDpGRxs0ZPvJqFv3k"></script>
	<script src="js/script.js"></script>
</body>
</html>