@colorGrey: #aaaaab;
@colorWhite: #ffffff;
@colorBlue: #b3d1ff;
@colorRed: #ff0000;
@colorOrange: #ffa200;
@colorGreen: #00b200;

@import url(reset.css);
* {
	box-sizing: border-box;
}
.container {
	position: relative;
	overflow: hidden;
}
// Форма ввода
.new-place {
	position: absolute;
	top: 0;
	right: 0;
	background: white;
	display: inline-block;
	font-size: 0;
	border-left: 1px solid @colorGrey;
	border-bottom: 1px solid @colorGrey;
	z-index: 1;
	box-shadow: -2px 5px 10px 0px rgba(0,0,0,0.75);
	* {
		display: inline-block;
		vertical-align: top;
	}
	.add,
	.open-list {
		width: 40px;
		cursor: pointer;
		font-size: 20px;
		padding: 10px 0;
		color: @colorGrey;
		&:after{
			content: '';
			position: absolute;
			top: 8px;
			display: block;
			width: 1px;
			height: 24px;
			background: @colorGrey;
		}
	}
	.add:hover {
		color: @colorRed;
	}
	.open-list:hover {
		color: @colorBlue;
	}
	input {
		font-size: 18px;
		width: 239px;
		height: 24px;
		border: none;
		padding-left: 10px;
		font-family: none;
		margin-top: 8px;
		box-sizing: border-box;
		&:focus{
			outline: none;
		}
	}
}
// Подсказка
.helper{
		background: @colorWhite;
		position: absolute;
		top: 0px;
		right: 0px;
		width: 330px;
		height: 40px;
		line-height: 40px;
		z-index: 5;
		font-size: 18px;
		text-align: center;
		color: @colorGrey;
	}
// Список мест
.place-list {
	position: absolute;
	top: 41px;
	right: 0px;
	width: 320px;
	z-index: 2;
	transition: right .5s linear;
	box-shadow: -1px 5px 10px 0px rgba(0,0,0,0.75);
	background: @colorWhite;
	overflow-x: hidden;
	overflow-y: auto;
}
// Стили заметки
.place {
	background: @colorWhite;
	width: 320px;
	border-left: 1px solid @colorGrey;
	border-bottom: 1px solid @colorGrey;
	font-size: 14px;
	cursor: default;
	p {
		word-wrap: break-word;
		padding: 10px;
	}
	&:hover {
		background: linear-gradient(to bottom, @colorWhite, @colorBlue);
	}
	.buttons {
		font-size: 0;
		user-select: none;
		float: right;
		margin: 10px;
	}
	.button {
		width: 30px;
		cursor: pointer;
		font-size: 14px;
		border-left: 1px solid @colorGrey;
		color: @colorGrey;
	}
	.favorite:hover{
		color: @colorOrange;
	}
	.edit:hover,
	.save:hover {
		color: @colorGreen;
	}
	.save {
		display: none;
	}
	.delete:hover{
		color: @colorRed;
	}
}
// Добавляемые стили
.hide{
	right: -340px;
}
.edited {
	.edit {
		display: none;
	}
	.save {
		display: inline-block;
	}
	&:hover {
		background: linear-gradient(to bottom, @colorWhite, lighten(@colorGreen, 40%));
	}
}